---
import About from "./component/About.astro";
import Experience from "./component/Experience";
import Footer from "./component/Footer";
import Work from "./component/Work";
import Layout from "../../layouts/Layout.astro";
import { RevealSection } from '../../layouts/RevealSection'
---

<Layout title="Khristopher Pineda | Software Engineer">
    <div class="mx-auto max-w-6xl flex flex-col justify-center box-border px-8 text-white pt-32" >
        <RevealSection client:visible>
            <About />
        </RevealSection>
        <RevealSection client:visible>
            <Work />
        </RevealSection>
        <RevealSection client:visible>
            <Experience client:visible/>
        </RevealSection>
        <Footer />
    </div>
</Layout>
