---
import About from '../components/About.astro';
import Separator from '../components/ui/Separator.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Khristopher Pineda | Software Engineer">
    <div class="mx-auto max-w-6xl flex flex-col justify-center box-border px-8">
        <About/>
    </div>
    <Separator title={"Experience"} description={"Here are some companies and projects I've worked"} />
    <div class="mx-auto max-w-6xl flex flex-col justify-center box-border px-8">
        
    </div>
    <Separator title={"My Work"} description={"Projects that I have developed"} />
    <div class="mx-auto max-w-6xl flex flex-col justify-center box-border px-8">
        <About/>
    </div>
    <Separator title={"Certifications"} description={"Academic Training and Specialization Courses"} />
    <div class="mx-auto max-w-6xl flex flex-col justify-center box-border px-8">
        <About/>
    </div>
</Layout>