---
import About from "../components/About.astro";
import Work from "../components/Work";
import Separator from "../components/ui/Separator.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Khristopher Pineda | Software Engineer">
    <div class="mx-auto max-w-6xl flex flex-col justify-center box-border px-8">
        <About />
    </div>
    <!-- <Separator title={"Experience"} description={"Here are some companies and projects I've worked"} /> -->
    <div class="mx-auto max-w-6xl flex flex-col justify-center box-border px-8 text-white">
        <div class="work-head text-center">
            <h2 class="font-sans font-bold tracking-tighter text-4xl">
                My Work 💼
            </h2>
            <p class="text-slate-400 font-sans font-bold text-base mt-1" >
                Current projects I'm working on
            </p>
        </div>
        <Work />
    </div>
    <div class="mx-auto max-w-6xl flex flex-col justify-center box-border px-8">
        <About />
    </div>
    <Separator
        title={"Certifications"}
        description={"Academic Training and Specialization Courses"}
    />
    <div class="mx-auto max-w-6xl flex flex-col justify-center box-border px-8">
        <About />
    </div>
</Layout>
