@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --c1: #020209;
    --c2: #0a192f;
    --c3: #00f7ff;
    --c4: #062366;
    --c5: #112240;
}

body{
    background-color: var(--c2);
    min-height: 100vh;
    counter-reset: section;
}

::-webkit-scrollbar {
    width: .5rem;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--c2); 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--c3); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--c4)
}