@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --c1: #06101e;
    --c2: #081426;
    --c3: #00c6cc;
    --c4: #051c52;
    --c5: #0e1b33;
}

.bg-c2{
    background-color: var(--c2);
}
.hover\:bg-c2:hover{
    background-color: var(--c2);
}
.bg-c5{
    background-color: var(--c5);
}
.hover\:bg-c5:hover{
    background-color: var(--c5);
}

.text-c5{
    color: var(--c5);
}
.text-c2{
    color: var(--c2);
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--c2);
    min-height: 100vh;
    counter-reset: section;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.loading-page-content {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 56;
    background: var(--c2);
    animation: fadeIn .5s ease-in-out;

    .contenedor {
        display: flex;
        width: 240px;
        height: 20px;
        color: #fff;
        font-size: 20px;
        line-height: 19.9px;

        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        margin: auto;
        overflow: hidden;

        ul {
            margin-top: -160px;
            list-style: none;
            padding-left: 2px;
            animation: cambiar 2s ease-in-out;
        }

        li {
            text-transform: uppercase;
            text-align: center;
            font-weight: bold;
        }

        @keyframes cambiar {
            0% {
                margin-top: 0;
            }

            15% {
                margin-top: -20px;
            }

            30% {
                margin-top: -40px;
            }

            45% {
                margin-top: -80px
            }

            60% {
                margin-top: -100px
            }

            70% {
                margin-top: -120px
            }

            85% {
                margin-top: -140px
            }

            100% {
                margin-top: -160px
            }
        }
    }
}

::-webkit-scrollbar {
    width: .5rem;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--c2);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--c3);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--c4)
}